body {
	width: 950px;
	padding: 0 10px 10px 10px;
	margin: 0 auto;
	font: 16px Tahoma, sans-serif;
}

header {
	overflow: hidden;
}

#name {
	width: auto;
	float: left;
	text-align: right;
	font-size: 7rem;
	line-height: 5.3rem;
	margin-top: 40px;
	margin-left: -7px;
	color: #231F20;
}

#contact {
	width: 293px;
	float: right;
	background-color: #E7E7E9;
	padding: 70px 20px 20px 20px;
	text-align: right;
	font-size: 0.8em;
	line-height: 1.5rem;
}
#contact a {
	text-decoration: none;
	color: #4B4849;
}

#my_title {
	width: 335px;
	float: right;
	text-align: right;
	margin-top: 16px;
	font-size: 1.5rem;
	color: #4B4849;
}

#divider {
	clear:both;
	background-color: #EA287C;
	width: 100%;
	height: 15px;
	margin: 20px 0;
	display: inline-block;
}

#left_column {
	clear: both;
	width: 62%;
	float: left;
}

section.title {
	font-family: cursive;
	font-weight: bold;
	font-size: 1.4rem;
}
section.lower {
	margin-top: 30px;
	margin-bottom: 0;
}

section.date {
	font-family: cursive;
	line-height: 1rem;
	margin-bottom: 5px;
}

section.block {
	border: 1px solid #ccc;
	background-color: #E7E7E9;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 0.8rem;
	line-height: 1.1rem;
	color: #4B4849;
}

span.skill_section {
	font-size: 1rem;
}

#right_column {
	width: 300px;
	float: right;
}

#picture {
	width: 300px;
	height: 362px;
}

section.right {
	margin: 20px 0 0 0;
	padding: 10px;
	text-align: justify;
	line-height: 1.2rem;
}

footer {
	clear: both;
	width: 100%;
	text-align: center;
}
