body {
	width: 950px;
	padding: 0 10px 10px 10px;
	margin: 0 auto;
	font: 16px Tahoma, sans-serif;
}

#name {
	width: auto;
	float: left;
	text-align: right;
	font-size: 7rem;
	font-weight: normal;
	line-height: 5.3rem;
	margin: 55px 0 0 -7px;
	color: #231F20;
}

#contact {
	width: 293px;
	float: right;
	background-color: #E7E7E9;
	padding: 70px 20px 20px 20px;
	text-align: right;
	font-size: 0.8em;
	line-height: 1.5rem;
}
#contact a {
	text-decoration: none;
	color: #4B4849;
}
#contact a:hover, a:active {
	text-decoration: underline;
	color: #7D7D7D;
}

#my-title {
	width: 335px;
	float: right;
	text-align: right;
	margin-top: 16px;
	margin-bottom: 0;
	font-size: 1.5rem;
	font-weight: normal;
	color: #4B4849;
}

.divider {
	clear:both;
	background-color: #EA287C;
	width: 100%;
	height: 15px;
	margin: 20px 0;
	display: inline-block;
	border: none;
}

#left-column {
	clear: both;
	width: 62%;
	float: left;
}

.title {
	font: bold 1.4rem cursive;
	margin: 0 0 5px 0;
	line-height: 1.6rem;
}
.lower {
	margin-top: 30px;
	margin-bottom: 5px;
}

.date {
	font: normal 1rem cursive;
	line-height: 1rem;
	margin-bottom: 5px;
	margin-top: 0;
}

.block {
	border: 1px solid #ccc;
	background-color: #E7E7E9;
	margin-left: 25px;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 0.8rem;
	line-height: 1.1rem;
	color: #4B4849;
}

.skill-section {
	font-size: 1rem;
	font-weight: normal;
	margin: 0 0 2px 0;
}

.italic {
	font-style: italic;
}

#right-column {
	width: 300px;
	float: right;
}

#picture {
	width: 300px;
	height: 362px;
}

.right {
	margin: 20px 0 0 0;
	padding: 10px;
	text-align: justify;
	line-height: 1.2rem;
}

footer {
	clear: both;
	width: 100%;
	text-align: center;
}
